@import "~react-vis/dist/main.scss";
@import "./_variables.scss";

.Home {
  background-color: #E5E5E4;
}

.lesson-card {
  background-color: white;
  color: #494949;

  width: 20rem;
  max-width: 80vw;
  height: 30rem;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(black, 0.2);
  transition: background-color 250ms ease-in, color 250ms ease-in;

  .btn {
    transition: color 250ms ease-in;
    padding: 0.5rem 2rem;
    font-weight: 500;
    letter-spacing: 2px;
  }

  &:hover {
    background-color: $primary;
    color: white;
    .btn {
      color: white;
    }
  }
}

img.lesson-card__image {
  width: 70%;
  border-radius: 50%;
}

.lesson-card__name {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  margin: 12px 0 8px;
  padding-top: 12px;
}

footer {
  position: relative !important;
  bottom: 0 !important;
}

ul.insert {
  line-height: 2;
  margin: 16px 0 !important;
  overflow: auto;
  padding: 110px 29px 46px 34px !important;
  position: relative;
  list-style-type: none;

  background-color: #F8F8F9;
  border: 1px solid #C6C6C6;
  color: #3A3A48;
  &:before {
    font-size: 44px;
    line-height: 52px;
    font-weight: 400;
    position: absolute;
    top: 36px;
  }
}

.learning-objectives:before {
  content: 'Learning Objectives';
}

.takeaways:before {
  content: 'Takeaways';
}

.further-readings {
  background-color: #FDFFDF;
  color: #333;
  &:before {
    content: 'To go further';
  }
}

.demo:hover {
  height: 35vh !important;
}

.markdown-body {
  h1, h2, h3 {
    font-weight: 400 !important;
  }
  h1 {
    font-size: 36px !important;
    line-height: 48px !important;
  }
  h2 {
    font-size: 28px !important;
    line-height: 36px !important;
  }
  h3 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

.center {
  text-align: center;
}

