@import "~react-vis/dist/main.scss";
@import "./_variables.scss";

#Home {
  background: #E5E5E4;
  width: 100%;
  height: calc(100vh - 272px);
  padding: 24px;
}

.lesson-card {
  color: #494949;
  width: 300px;
  height: 450px;
  margin: 50px;
  background: white;
  padding: 20px;
  position: relative;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: background 0.5s, color 0.5s, box-shadow 0.5s;
}

.lesson-card__name {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  margin: 12px 0 8px;
  border-top: 2px solid #eef;
  padding-top: 12px;
}

.btn {
  font-weight: 500;
  transition: transform 0.5s, color 0.5s;
  left: 50%;
  position: absolute;
  bottom: 2em;
  transform: translate(-50%);
  padding: 0.5em 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: fit-content;
} 

.lesson-card:hover {
  background: $primary;
  color: white;
  box-shadow: 0 0 50px rgba(0,0,0,0.2);
  .lesson-card__image {
    border-width: 4px;
  }
  .btn {
    color: white;
    transform: translate(-50%) scale(1.25);
  }
}

footer {
  left: 0;
}

img.lesson-card__image {
  width: 70%;
  border-radius: 50%;
  margin-left: 15%;
  border: 0px solid white;
  transition: border 0.5s;
}

ul.insert {
    line-height: 2;
    margin: 16px 0 !important;
    overflow: auto;
	  padding: 110px 29px 46px 34px !important;
    position: relative;
    list-style-type: none;

    background: #F8F8F9;
    border: 1px solid #C6C6C6;
    color: #3A3A48;
}
   
ul.insert:before {
  font-size: 44px;
  line-height: 52px;
  font-weight: 400;
  position: absolute;
  top: 36px;
}

.learning-objectives:before {
	content: 'Learning Objectives';
}

.takeaways:before {
	content: 'Takeaways';
}

.further-readings {
  background-color: #FDFFDF;
  color: #333;
}
   
.further-readings:before {
	content: 'To go further';
}

.demo:hover {
  height: 35vh !important;
}

.markdown-body {
  h1, h2, h3 {
    font-weight: 400 !important;
  }
  h1 {
    font-size: 36px !important;
    line-height: 48px !important;
  }
  h2 {
    font-size: 28px !important;
    line-height: 36px !important;
  }
  h3 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

