/*

--- The font ff-clan-web-pro is copyrighted Monotype, and cannot be used without permission and license.  
--- The original URL to the fonts here has been compromised, is not secure, and should not be used.  

@font-face {
    font-family: ff-clan-web-pro;
    font-style: normal;
    font-weight: 100;
    src: url(XXX) format("woff2"),
        url(XXX) format("woff")
}
@font-face {
    font-family: ff-clan-web-pro;
    font-style: normal;
    font-weight: 400;
    src: url(XXX) format("woff2"),
        url(XXX) format("woff")
}
@font-face {
    font-family: ff-clan-web-pro;
    font-style: normal;
    font-weight: 500;
    src: url(XXX) format("woff2"),
        url(XXXf) format("woff")
}
@font-face {
    font-family: ff-clan-web-pro;
    font-style: normal;
    font-weight: 600;
    src: url(XXX) format("woff2"),
        url(XXX) format("woff")
}

*/
